<!doctype html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>MarshCode - {% block title %}{% endblock title %}</title>

		<!-- Standard CSS includes -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">


		<!-- Template headers-->
		{% block head %}
		{% endblock head %}

		<style type="text/css">
            html,body{
                overflow: visible;
            }
			body{
				padding:0 1em;
			}

            .clear {
                clear:both;
            }

		</style>

	

	</head>
	<body>
		<div class="header clear">
			<h1><a href="/">MarshCode</a></h1>
            {% if headerLink %}
				<a href="{{ headerLink.url }}">{{ headerLink.text }}</a>
            {% endif %} 
			<hr />
		</div>
	
		<div class="content">
			{% block body %}
			
			{% endblock body %}
		</div>
	
	
		<div class="footer clear">
			<hr />
			<span class="content">&copy; David Marsh 2013</span>
		</div>	
		
		<!-- JS Includes at the bottom of the body (like a good little web developer) -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
		
		{% block body_scripts %}
		{% endblock body_scripts %}
		
	</body>
</html>

