<!doctype html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>DaveSite - {% block title %}{% endblock title %}</title>

		<!-- Standard CSS includes -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">

		<!-- Template headers-->
		{% block head %}
		{% endblock head %}

		<style type="text/css">
			body{
				padding:0 1em;
			}
		</style>

	

	</head>
	<body>
		<div class="header">
			<h1>DaveSite</h1>


			  <ul class="nav nav-tabs">
			    <li><a href="/">Home</a></li>
			    <li class="dropdown">
			      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Web Projects<b class="caret"></b></a>
			      <ul class="dropdown-menu">
					<li><a href="{{ url_for('jlp.index') }}">Jean-Luc Picard Advisor</a></li>
			      </ul>
			    </li>
			    <li >
			      <a href="/blog">Projects</a>
			    </li>
			    <li class="dropdown">
			      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Related Sites<b class="caret bottom-up"></b></a>
			      <ul class="dropdown-menu bottom-up pull-right">
						  <li><a href="https://trac.davemarsh.webfactional.com">Trac</a></li>
						  <li><a href="https://svn.davemarsh.webfactional.com">SVN</a></li>
			      </ul>
			    </li>
			  </ul>
			</li>
			</ul>
		</div>
	
		<div class="content">
			{% block body %}
			
			{% endblock body %}
		</div>
	
	
		<div class="footer">
			<hr />
			<span class="content">&copy; David Marsh 2013</span>
		</div>	
		
		<!-- JS Includes at the bottom of the body (like a good little web developer) -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
		
		{% block body_scripts %}
		{% endblock body_scripts %}
		
	</body>
</html>

