{% set viz3d_width = 800 %}

{% extends "layout.html" %}
{% block title %}Bezier Curve Viewer{% endblock title %}

{% block head %}
	<link rel=stylesheet type=text/css href="{{ url_for('bezier.static', filename='js/handsontable/jquery.handsontable.full.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('bezier.static', filename='js/jquery/jquery-ui.css') }}">

	<style>
		body {
			color: #000;
			font-family:Monospace;
			font-size:13px;

			background-color: #fff;
			margin: 0px;
			overflow: hidden;
		}

		canvas{
			border:solid thin black;
		}

		#grid_container{
			min-width:300px;
			float:left;
			overflow:hidden;
            margin:20px 0 0 50px;
		}

		#viz_container{
			width: 800px;
			position: relative;
			margin: 20px 0 0 20px;
			display: inline-block;
			float: left;
		}

		#dat_container{
			position:absolute;
			right:0px;
		}

	</style>
	
{% endblock head %}

{% block body %}
    <div class="wrap">
		<div class="span5 offset1" id="viz_container">
			<span id="dat_container"></span>
		</div>

		<div id="grid_container" class="span3 offset1">
		</div>
    </div>
{% endblock body %}
{% block body_scripts %}
		

		<!-- These should be served from a CDN -->
		<script src="{{ url_for('bezier.static', filename='js/three/three.js') }}"></script>
		<script src="{{ url_for('bezier.static', filename='js/three/TrackballControls.js') }}"></script>

		<script src="{{ url_for('bezier.static', filename='js/three/Detector.js') }}"></script>
		<script src="{{ url_for('bezier.static', filename='js/three/stats.min.js') }}"></script>

		<script src="{{ url_for('bezier.static', filename='js/dat/dat.gui.js') }}"></script>
	  	
	  	  
		<!-- 
		Jquery already being included up above below
		<script src="{{ url_for('bezier.static', filename='js/jquery/jquery.js') }}"></script> 
		-->
		<script src="{{ url_for('bezier.static', filename='js/jquery/jquery-ui.js') }}"></script>

		<script src="{{ url_for('bezier.static', filename='js/underscore/underscore-min.js') }}"></script>
		<script src="{{ url_for('bezier.static', filename='js/backbone/backbone-min.js') }}"></script>
		 			  
		<script src="{{ url_for('bezier.static', filename='js/handsontable/jquery.handsontable.full.js') }}"></script>
		
		<!-- This should be minified and combined into one file -->
		<script src="{{ url_for('bezier.static', filename='js/bezier/bezierviz-min.js') }}"></script>

 		
		<script type="text/javascript">
			////////////////////////
			//INITIALIZATION
			////////////////////////
			var viz3D;
			var viz3D_width = {{viz3d_width}};
			var storage;
			var curve_list_url = "{{ url_for('bezier.static', filename='curves/curve.list') }}"			
			var curve_name = "curve";
		
			
		
			init_viz();
			storage.on(storage.EVENT_ADDED, auto_frame); //reset viewer every time a curve is loaded.
			animate();
			load_curves(curve_list_url, [init_dat, 
										 function(curve_list){
											var key = Object.keys(curve_list)[0]
											load_curve(curve_list[key], key); //not sure if this will hold up.  Does dat sort the keys before adding them?
										  },
										  init_grid,//curve must be loaded first.

			]);
			//GRID VISUALIZER
			function init_grid(){
				var container = $("#grid_container");
				var cpg_controller = BEZIER.widgets.cpg_controller(storage);
				container.append(cpg_controller.dom_element);
			}

			
			//CANVAS VISUALIZER
			function init_viz(){
				storage = BEZIER.storage.curve_storage();
				viz3D = BEZIER.widgets.visualizer_3d(storage, viz3D_width, viz3D_width);
				var container = $('#viz_container');
				container.append(viz3D.get_dom_element())
			}

		
			//////////////////
			//GUI and controllers
			//////////////////
			function init_dat(item_list){
				var gui = new dat.GUI({ autoPlace: false });

				var reverse_item_list = {};
				for(var key in item_list){
					reverse_item_list[item_list[key]] = key
				}

				//DAT doesn't provide functionality for this
				var removeFolder = function(folder_name){
					var folder = gui.__folders[folder_name];

					folder.close();
					folder.domElement.parentNode.parentNode.removeChild(folder.domElement.parentNode);

					gui.__folders[folder_name] = undefined;
					gui.onResize();
				};


				/////////////////////////
				//LOAD CURVES
				/////////////////////////
				var load_controller = {};
				load_controller.curve_list = "";
				load_controller.refresh_curve = function (){

					//remove all callbacks that we added
					storage.off(storage.EVENT_ADDED, null, gui);
					storage.off(storage.EVENT_CLEARED, null, gui);

					gui.destroy();
					$(gui.domElement).remove();
					load_curves(curve_list_url, [init_dat]);
				};

				var load_curve_folder = gui.addFolder('Load Curves');
				var curve_list = load_curve_folder.add(load_controller, 'curve_list', item_list ).name("Curve List");
				curve_list.onChange(function(curve_url){
					if(curve_url){
						var curve_name = reverse_item_list[curve_url];
						load_curve(load_controller.curve_list, curve_name);
					}

				});
				var refresh_curve = load_curve_folder.add(load_controller, 'refresh_curve').name("Refresh");

				///////////////////
				//Edit Curves.  Each time we add a curve, add a gui folder.  Each time we remove one, remove the folder
				///////////////////
				storage.on(storage.EVENT_CLEARED, function(curve_name){
					removeFolder(curve_name)
				},gui);

				storage.on(storage.EVENT_ADDED, function(curve_name){
					var curve_folder = gui.addFolder(curve_name);
					var curve_controller = {};

					var options = viz3D.get_options("default");
					curve_controller.points_visible = options.points_visible;
					curve_controller.control_polygon_visible = options.polygon_visible;
					curve_controller.curve_visible = options.curve_visible;
					curve_controller.size = options.size;

					curve_controller.auto_frame = function (){
						auto_frame(curve_name);
					};

					curve_controller.clear_curve = function (){
						clear_curve(curve_name);
					 };

					//TODO: make it frame out this specific curve
					curve_folder.add(curve_controller, 'auto_frame').name("Auto Frame");
					curve_folder.add(curve_controller, 'clear_curve').name("Clear Curve");

					var size_handle = curve_folder.add(curve_controller, 'size', 0, 1).name('Size');
					size_handle.onChange(function(curve_size){
						viz3D.set_curve_size(curve_name, curve_size);
						storage.updated(curve_name);
					});

					var point_handle = curve_folder.add(curve_controller, 'points_visible').name("Points Visible");
					var polygon_handle = curve_folder.add(curve_controller, 'control_polygon_visible').name("Polygon Visible");
					var curve_handle = curve_folder.add(curve_controller, 'curve_visible').name("Curve Visible");

					point_handle.onChange(function(point_visibility){
						viz3D.set_points_visibility(curve_name, point_visibility);
						viz3D.update();
					});

					polygon_handle.onChange(function(polygon_visibility){
						viz3D.set_polygon_visibility(curve_name, polygon_visibility);
						viz3D.update();
					});
					curve_handle.onChange(function(curve_visible){
						viz3D.set_curve_visibility(curve_name, curve_visible);
						viz3D.update();
					});

					curve_controller.auto_frame();

				}, gui);

				var dat_container = $("#dat_container");
				dat_container.append(gui.domElement);


			}

			//////////////////////
			//Curve Ajax
			//////////////////////
			function load_curve(url, curve_name){
				$.ajax({url: url, cache: false}).done(function ( data ) {
					var curve = BEZIER.parsers.single(data);
					storage.clear_curve(curve_name);
					storage.set_curve(curve_name, curve);
				  });
			}
			
			
			function load_curves(url, callbacks){
				$.ajax({url: url}).done(function ( data ) {
					curve_list = jQuery.parseJSON(data);
					
					callbacks.forEach(function (f) {
						f(curve_list);
					});
				  });
			
			}
			
			////////////////////////
			//Visualizers
			////////////////////////
		
			function animate() {
				requestAnimationFrame( animate );
				viz3D.update();
			}
			
			function clear_curve(curve_name){

				if(storage.has_curve(curve_name)){
					storage.clear_curve(curve_name)
				}
			
			 }
		
			 function auto_frame(curve_name) {

                 if(storage.has_curve(curve_name)) {
					var curve_names = [curve_name];
				}
				else{
					var curve_names = storage.get_curve_names();
				}

				var lookx = 0, looky = 0, lookz = 0;
				var maxx = null, maxy = null, maxz = null;
				var minx = null, miny = null, minz = null;
				var rangex, rangey, rangez;
				$(curve_names).each(function (idx, curve_name) {
					var curve = storage.get_curve(curve_name);
					var xavg = 0, yavg = 0, zavg = 0;
					var num_points = curve.num_points();
					
					var pt;
					for (var i = 0; i < curve.num_points(); i++) {
						pt = curve.get_point(i);
						xavg += pt.x;
						yavg += pt.y;
						zavg += pt.z;
						
						maxx = Math.max(pt.x, maxx);
						maxy = Math.max(pt.y, maxy);
						maxz = Math.max(pt.z, maxz);				
					
						minx = Math.min(pt.x, minx);
						miny = Math.min(pt.y, miny);
						minz = Math.min(pt.z, minz);	
					
					}
					
					lookx += (xavg / num_points);
					looky += (yavg / num_points);
					lookz += (zavg / num_points);
					
				});		
				
				lookx /= curve_names.length;
				looky /= curve_names.length;
				lookz /= curve_names.length;
				
				rangex = maxx - minx;
				rangey = maxy - miny;
				rangez = maxz - minz;
				
				//check for a dimension that did not move at all.  If we find one, this implies that the curve lies in the 2D plane.  
				//Bounding boxes will not work properly for this.  Set to the center of the other two
				var position = new THREE.Vector3(maxx * 2, maxy * 2, maxz * 2);
				var target   = new THREE.Vector3(lookx, looky, lookz);	
				//TODO: the 50 here is juat a random hardcode.  The real solution is much more complicated.	
				
				//zoom distance per world distance.  Calculated experimentally.  This should be OK as long as the aspect ratio is 1
				var magic_ratio = 13/10; 
				var view = viz3D.get_view();
				if (rangex === 0){
					position = new THREE.Vector3(rangey * magic_ratio, looky, lookz);
				}else if (rangey === 0){
					position = new THREE.Vector3(lookx, rangex * magic_ratio, lookz);
				}else if (rangez === 0){
					position = new THREE.Vector3(lookx, looky, rangey * magic_ratio);
				}
			 
			 	viz3D.set_view(target, position)
			 
			 }
			
				
		</script>

{% endblock body_scripts %}